<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="cordova-markets-iab"
    version="1.0.0">
    <name>Cordova Markets IAB</name>
    <description>Cordova Markets IAB</description>
    <author>Milad Mohammadi</author>	
    <license>miladesign.ir</license>
    <keywords>cordova,plugin,iap,markets,iab</keywords>
    <repo>https://github.com/miladesign/cordova-markets-iab</repo>
    <issue>https://github.com/miladesign/cordova-markets-iab/issues</issue>	
	<engines>
	    <engine name="cordova" version=">=3.0.0" />
	</engines>

    <js-module src="www/markets.js" name="markets">
        <clobbers target="window.markets" />
    </js-module>    

	
	<!-- android -->
	<platform name="android">
		<config-file target="res/xml/config.xml" parent="/*">
			<feature name="MdMarketsIAB">
				<param name="android-package" value="ir.miladesign.MdMarketsIAB"/>
			</feature>
		</config-file>
		<config-file target="AndroidManifest.xml" parent="/*">
			<uses-permission android:name="android.permission.INTERNET" />
			<uses-permission android:name="com.farsitel.bazaar.permission.PAY_THROUGH_BAZAAR" />
		</config-file>

		<source-file src="src/IInAppBillingService.aidl" target-dir="src/com/android/vending/billing" />
        <source-file src="src/MdMarketsIAB.java" target-dir="src/ir/miladesign" />
        <source-file src="src/utils/Base64.java" target-dir="src/ir/miladesign/utils" />
        <source-file src="src/utils/Base64DecoderException.java" target-dir="src/ir/miladesign/utils" />
        <source-file src="src/utils/IabException.java" target-dir="src/ir/miladesign/utils" />
        <source-file src="src/utils/IabHelper.java" target-dir="src/ir/miladesign/utils" />
        <source-file src="src/utils/IabResult.java" target-dir="src/ir/miladesign/utils" />
        <source-file src="src/utils/Inventory.java" target-dir="src/ir/miladesign/utils" />
        <source-file src="src/utils/Security.java" target-dir="src/ir/miladesign/utils" />
        <source-file src="src/utils/SkDetails.java" target-dir="src/ir/miladesign/utils" />
	</platform>
	
</plugin>