<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="cordova-markets-iab"
    version="1.0.1">
    <name>Cordova Markets IAB Plugin</name>
    <description>All Persian Markets IAB for Cordova</description>
    <author>Milad Mohammadi Rezagah</author>
    <license>Apache 2.0</license>
    <keywords>cordova,plugin,iap,markets,iab</keywords>
    <repo>https://github.com/miladesign/cordova-markets-iab</repo>
    <issue>https://github.com/miladesign/cordova-markets-iab/issues</issue>	
	<engines>
	    <engine name="cordova" version=">=3.0.0" />
	</engines>

    <js-module src="www/markets.js" name="markets">
        <clobbers target="window.markets" />
    </js-module>    

	
	<!-- android -->
	<platform name="android">
		<config-file target="res/xml/config.xml" parent="/*">
			<feature name="MdMarkets">
				<param name="android-package" value="md.markets.MdMarkets"/>
			</feature>
		</config-file>
		<config-file target="AndroidManifest.xml" parent="/*">
			<uses-permission android:name="android.permission.INTERNET" />
			<uses-permission android:name="$PERMISSION" />
		</config-file>
		<preference name="PERMISSION" default="ir.mservices.market.BILLING" />

		<source-file src="src/IInAppBillingService.aidl" target-dir="src/com/android/vending/billing" />
        <source-file src="src/MdMarkets.java" target-dir="src/md/markets" />
        <source-file src="src/Base64.java" target-dir="src/md/markets" />
        <source-file src="src/Base64DecoderException.java" target-dir="src/md/markets" />
        <source-file src="src/IabException.java" target-dir="src/md/markets" />
        <source-file src="src/IabHelper.java" target-dir="src/md/markets" />
        <source-file src="src/IabResult.java" target-dir="src/md/markets" />
        <source-file src="src/Inventory.java" target-dir="src/md/markets" />
        <source-file src="src/Security.java" target-dir="src/md/markets" />
        <source-file src="src/SkuDetails.java" target-dir="src/md/markets" />
        <source-file src="src/Purchase.java" target-dir="src/md/markets" />
	</platform>
</plugin>
